/* ----- Today's Updates - Prettyfication ----- */
.indexupdsp2015{
  border:2px solid; 
  border-radius: 5px; 
  border-color: #ffddcc; 
  background-color: #004444;
}

.indexupdsp2015B{
  border:2px solid; 
  border-radius: 5px; 
  border-color: #ffbbaa; 
  background-color: #993355;
}

.indexupdsum2015{
  border:2px solid; 
  border-radius: 5px; 
  border-color: #ff8822; 
  background-color: #cc3311;
}

.indexupdcode2015{
  border:2px solid; 
  border-color:rgb(59,248,80); 
  background-color:rgb(0,60,60);
}

.indexupdwinter2015{
  border:2px solid; 
  border-color:rgb(128,232,192); 
  background-color:rgb(0,64,96);
}

.indexupdspring2016{
  border:2px solid; 
  border-color:rgb(256,192,224); 
  background-color:rgb(0,96,64);
}

.indexupdfall2016{
  border:2px solid; 
  border-color:rgb(256,224,128); 
  background-color:rgb(160,64,0);
}

.indexupdspring2017{
  border:2px solid; 
  border-color:rgb(256,192,256); 
  background-color:rgb(0,88,72);
}

.indexupdfall2017{
  border-width: 2px; 
  border-color: lime; 
  border-style: none solid none solid; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-bottom: 8px; 
  padding-top: 4px; 
  border-radius: 4px; 
  background-color: #775511; 
}

.indexupdwinter2017{
  border-width: 2px; 
  border-color: aqua; 
  border-style: none solid none solid; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-bottom: 8px; 
  padding-top: 4px; 
  border-radius: 4px; 
  background-color: #115577; 
}

.indexupdspring2018{
  border-width: 2px; 
  border-color: rgb(256,192,256); 
  border-style: none solid none solid; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-bottom: 8px; 
  padding-top: 4px; 
  border-radius: 4px; 
  background-color: rgb(0,88,72);
}

.indexupdsummer2018{
  border-width: 2px; 
  border-color: rgb(256,256,128); 
  border-style: none solid none solid; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-bottom: 8px; 
  padding-top: 4px; 
  border-radius: 4px; 
  background-color: rgb(128,96,32);
}

.indexupdwinter2018{
  border-width: 4px 6px; 
  border-color: #2299FF #22CCFF; 
  border-style: solid double; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-bottom: 8px; 
  padding-top: 4px; 
  border-radius: 2px; 
  background-color: #226688;
}

.indexupdspring2019{
  border-width: 4px 6px; 
  border-color: #99FF22 #CCFF22; 
  border-style: solid double; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-bottom: 8px; 
  padding-top: 4px; 
  border-radius: 2px; 
  background-color: #228822;
}

.indexupdsummer2019{
  border-width: 4px 6px; 
  border-color: #EEAA22 #EEDD22; 
  border-style: solid double; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-bottom: 8px; 
  padding-top: 4px; 
  border-radius: 2px; 
  background-color: #AA6622;
}

.indexupdfall2019{
  border-width: 4px 6px; 
  border-color: #EE9900 #BBEE00; 
  border-style: solid double; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-bottom: 8px; 
  padding-top: 4px; 
  border-radius: 2px; 
  background-color: #AA4400;
}

.indexupdwinter2019{
  border-width: 4px 6px; 
  border-color: #2299FF #22FFCC; /*TRBL*/
  border-style: double double; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-bottom: 8px; 
  padding-top: 4px; 
  border-radius: 20px; 
  background-color: #000022;
}

.indexupdspring2020{
  border-width: 4px 6px; 
  border-color: #66FF99 #FFCCAA; /*TRBL*/
  border-style: double double; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-bottom: 8px; 
  padding-top: 4px; 
  border-radius: 20px; 
  background-color: #002200;
}

.indexupdsummer2020{
  border-width: 4px 6px; 
  border-color: #FF9966 #CCCCAA; /*TRBL*/
  border-style: double double; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-bottom: 8px; 
  padding-top: 4px; 
  border-radius: 20px; 
  background-color: #884400;
}

.indexupdfall2020{
  border-width: 4px 6px; 
  border-color: #AA8822 #CCCC22; /*TRBL*/
  border-style: double double; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-bottom: 8px; 
  padding-top: 4px; 
  border-radius: 20px; 
  background-color: #AA3300;
}

.indexupdsp2015title{
  padding: 5px;
}
